.scorer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}

.scorer h1 {
  font-size: 30vh;
  color: #FF9800;
  text-shadow: 0px 3px 2px #E65100;
}